page-registration {
	.toolbar-background-md{
		background:linear-gradient(180deg, #551a8b, #009688);	
	}
    .logo {
	    width: 86px;
	    display: block;
	    margin: 0 auto;
	    margin-top: 4em;
	    padding-bottom: 2em;
    }
    .login {
        background: url(../assets/imgs/bg.jpg) no-repeat center;
        background-size: cover;
        color: #fff;
    }
    .item {
        background-color: rgba(119,119,119,.8);
        width: 80%;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
   }
   .login-btn {
        width: 80%;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
        height: 4.4rem;
        background-color: #551a8b;
   }
   .social-icon {
        width: 86px;
        padding: 0 20px;
   }
}
